
	body {
		display: flex; /* Используйте flex для вертикального стека */
		
		align-items: center; /* Центрирование элементов по горизонтали */
		justify-content: space-around; /* Центрирование элементов по вертикали */
		gap: 20px; /* Отступ между элементами */
		margin: 0; /* Убрать стандартные отступы */
		padding: 0;
	}

	#pointTable, #pointGridTable {
		width: 100%;
		font-size: 9px;
	}


	.table-inner {
		width: auto;
	}

	#tables {
		display: flex; /* Используйте flex для вертикального стека */
		flex-direction: column;
		gap: 20px; /* Отступ между элементами */
	}

	#changeTable, #exportTable {
		width: auto;	
	}

#originSet{
	display:grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr ;
}

	#tableButtons{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px; 
	}
	
	#tableAz {
		display: block;
	}

	#tableAd {
		display: none;
	}

	.encode {
		display:flex;
		justify-content: space-around;

		align-items: space-around;

		gap:20px;
	}

	.input{
		display:grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr ;
	}

	.settings {
		display:flex;
		justify-content: space-around;

		align-items: space-around;
		flex-direction: column;
		gap:20px;
	}

	.table-container {		
			
		height: auto; /* Высота скроллбокса */
		max-height: 220px;	
		overflow-y: auto;
		min-width: 600px;
		max-width: 600px;
	}




	  .grid-item {
		display: inline-block;
		
		align-items: center;
		margin: 0; /* Убираем внешние отступы */
	  }
	  .number-input {
		width: 20px;
		height: 20px; /* Делаем поля квадратными */
		-webkit-appearance: none; /* Убираем стрелочки для Webkit-браузеров */
		-moz-appearance: textfield; /* Убираем стрелочки для Firefox */
		margin: 0; /* Убираем внутренние отступы */
		border: 1px solid #000; /* Добавляем границу */
		text-align: center; /* Выравниваем текст по центру */
	  }
	  /* Стиль для отображения изначальных значений */
	  .original-value {
		text-align: center;
		padding: 5px;
		font-size: 12px;
		font-family: Arial, sans-serif;
	  }

	#info {
		z-index: 10; /* Add z-index property */
		position: absolute;
		font-size: 18px;
		font-family: Arial, sans-serif;
		color: #333;
		background-color: #f0f0f0;
		padding: 5px;
		border: 1px solid #ddd;
		border-radius: 5px;
		display: none;
	}


	#manual-input-button {
		cursor: pointer;
	}

	